---
id: homepage
label: Overview
title: Welcome!
tags: [nav]
position: 1
---

{% extends "_layouts/default.njk" %}

{% block content %}

<h1 class="page__title">{{ page.title }}</h1>

<p>This is a one example of the sort of documentation sites you can build using Fractal pages.</p>

{% endblock %}
