<div class="card">

  <h3 class="card__title">{{ title }}</h3>

  {% if text %}
  <p class="card__content">{{ text }}</p>
  {% endif %}

  {% with button %}
  <include component="button:primary"></include>
  {% endwith %}

</div>
